/* Enter your custom styles here */

.mainHbox {
    border: 2px solid;
}

.subVbox {
    border: 1px solid;
}

.heading {
    font-weight: bold;
}

.subHeading {
    font-weight: bold;
}

.smallFont {
    font-size: 5px;
}

.margin {
    margin: 0 10px 10px 0;
}

.margin2 {
    margin: 10px 10px 10px 10px;
}

.sideBarColor {
    background: #D3D3D3;
    padding: 15px;
}

.subLastHbox {
    border: 1px solid;
    background: #D3D3D3;
}

.printAreaBox {
    max-width: 100%;
    margin: auto;
    background-color: white;
    padding: 15px;
}

@media print { 
    /* usage of !important hard overwrites, because UI5 uses inline style directives (style="width:990px")  */
    
    /* define print page default settings */
    @page {
        scale-size: 50;
    }
    
    /* scale content to fit print page */
    html, body {
        width: 100% !important;
        height: auto !important;
    }
    
    /* reset body */
    body {
        margin: 0;
        padding: 0;
        float: none; 
        color: #000;
    }
    
    /* helper class to allow selective hiding elements from printing (ex print button)  */
    .uoNoPrint {
        display: none;
    }    
    
    /* fix overflow scrolling */
    * {
        overflow-x: visible !important; 
        overflow-y: visible !important;
    }
    
    /* auto expand collapsed panel contents */
    .sapMPanelExpandablePart {
        display: block !important;
    }
    
    /* disable panel content border */
    .sapMPanelContent {
        border: 0 !important;
    }
    
    /* reset flexed textareas height */ 
    .sapMTextArea>.sapMTextAreaInner {
        height: auto !important;
    }
    
    /* custom css prototypes for addtional used containers */
}